# ======================
# Flutter
# ======================
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/

# ======================
# .NET
# ======================
**/bin/
**/obj/
*.exe
*.dll
*.pdb
*.deps.json
*.runtimeconfig.json
singlefilehost.exe

# ======================
# VSCode
# ======================
**/.vscode/

# ======================
# Bridges output
# ======================
bridges/**/dist/
dist_release/

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Sensitive configs
# ======================
bridges/**/config/config.xml
bridges/**/config/*.local.*
bridges/**/config/*.secret.*
apps/**/app_config.json